.button {
  -webkit-writing-mode: horizontal-tb !important;
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
  border-style: solid;
  border-width: 1px;
  padding: 1px 7px 2px;
  text-rendering: auto;
  display: inline-block;
  text-align: start;
  margin: 0em;
  font: 400 11px;
  background-color: #007bff;
  color: white;
}

.button:hover {
  transition: all 0.4s ease;
  background-color: #0056b3;
}
