/* Лучше называть файл под компонент, а какие классы внутри это уже не важно, у тебя тут надо называть Layout.module.css не критично, но учити */

header {
  background-color: #007bff;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
  height: 50px;
  max-width: 800px;
  align-items: center;
}

.Link {
  color: white;
  text-decoration: none;
  transition: color 0.5s ease;
}

.Link:hover {
  color: black;
  text-decoration: underline;
}